body {
    background-color: black;
    color: rgb(200, 200, 200);
    font-family: "Edu NSW ACT Cursive", cursive;
}

section {
    margin: 0 0 5% 0;
    padding: 2% 0 0 0;
}

#About {
    display: flex;
    flex-direction: column;
    align-items: end;
}

h1 {
    font-size: 40px;
    color: yellow;
    font-style: italic;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    color: yellow;
}

#profilePic {
    height: 250px;
    width: 250px;
    aspect-ratio: auto;
}

ul li {
    border: 2px solid red;
    background-color: #7B1DF3;
    color: white;
    list-style-type: none;
}

/* .connectLinks a:link {
    color: white;
} */

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: yellow;
}

a:active {
    color: green;
}

.expList {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.expList div {
    margin-right: 10%;
}

#Connect {
    display: flex;
    align-items: center;
}

#Connect * {
    margin-right: 5%;
}

nav * {
    display: inline-block;
    margin: 5% 3px 5% 3px;
}

#skills ul > li {
        display: inline-block;
        flex-direction: column;
        margin: 0 3% 0 0;
    }


    form * {
        display: block;
        margin: 0 0 20px 20px;
    }

#Projects ul > li {
    color: black;
    background-color: whitesmoke;
    padding: 2px 0 2px 50px;
    border: 3px solid black;
}

/* CSS for smartphones/mobile devices */
@media screen and (max-width: 650px) {
    h1 {
    font-size: 20px;
    color: orange;
    font-style: bold;
    }

    ul li {
    border: 1px solid white;
    background-color: #7B1DD3;
    color: white;
    list-style-type: none;
    display: flex;
    }

    h2 {
    font-size: 15px;
    font-weight: normal;
    color: orange;
    }

    #skills ul > li {
        display: inline-block;
        flex-direction: column;
        margin: 0 4% 0 0;
    }

    form * {
        display: block;
        margin: 0 0 19px 19px;
    }
    }

    /* CSS for tablets */
@media (min-width: 651px) and (max-width: 950px) {
    h1 {
    font-size: 30px;
    color: yellowgreen;
    font-style: bold;
    }

    ul li {
    border: 3px dashed white;
    background-color: darkolivegreen;
    color: white;
    list-style-type: none;
    display: flex;
    }

    h2 {
    font-size: 25px;
    font-weight: bolder;
    color: lightskyblue;
    }
     #skills ul > li {
        display: inline-block;
        flex-direction: column;
        margin: 0 5% 0 0;
    }

    form * {
        display: block;
        margin: 0 0 25px 25px;
    }
  }